/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";



main {
  padding: 10px;
  //background-color: white;
  //width:100%;
  position: absolute;
}

#navbarleft {
  width:200px;
  position:absolute;
  height: 100%;
  //transition:width .4s;
}
#navbarright {
  width:200px;
  height: 100%;
  position:absolute;
  //transition:width .4s;
}


//petit écran
@media screen and (max-width: 768px) {
  main {
    left: 0px;
    right: 0px;
  }   
  main.menu_gauche_masque{
    //transition:left .4s; //ne fonctionne pas pour le retour si pas dans la classe main directement et alors incomptaible avec la transition vers la droite, l'attribution de la valeur est passée dans js'
    left:200px;
  }
  main.menu_droit_masque{
    right:200px;
  }
  
  #navbarleft {
    left: -200px;
  }
  #navbarleft.menu_gauche_masque {
    left: 0px;
  }

  #navbarright {
    right: -200px;
  }
  #navbarright.menu_droit_masque {
    //width:0;
    right: -0;
  }
}
////////////////////////


 
 // grand écran
@media screen and (min-width: 768px) {
  main {
    left: 200px;
    right: 200px;
  }

  main.menu_gauche_masque{
    //transition:left .4s; //ne fonctionne pas pour le retour si pas dans la classe main directement et alors incomptaible avec la transition vers la droite, l'attribution de la valeur est passée dans js'
    left:0;
  }
  main.menu_droit_masque{
    right:0;
  }
  #navbarleft {
    left:0;
  }  
  #navbarleft.menu_gauche_masque {
    left: -200px;
    //width:0;
  }

  #navbarright {
    right:0;
  }
  #navbarright.menu_droit_masque {
    right: -200px;
  }  
}
////////////////////





