/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";




main {
    //width:100%;
    position:absolute;
    left: 200px;
    right: 200px;
    transition:left .4s;
    //transition:right .4s;
}
main.menu_gauche_masque{
    left:0;
}
main.menu_droit_masque{
    right:0;
}

#navbarleft {
    left:0;
    //top: 0;
    //bottom:0;
    width:200px;
    position:absolute;
    transition:width .4s;
}
#navbarleft.menu_gauche_masque {
    width:0;
}
#navbarright {
    right:0;
    //top: 0;
    //bottom:0;
    width:200px;
    position:absolute;
    transition:width .4s;
}
#navbarright.menu_droit_masque {
    width:0;
}
