<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap4</title>
  	<link rel="stylesheet" href="/css/icomoon.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<!-- <body class="bg-dark"> -->
<body>
	

<nav class="navbar bg-dark navbar-dark">
	<div class="header order-1">
		<a class="navbar-brand" href="#">
	    	<img src="images/logo_ville.png" alt="Logo_ville" width="40px">
		</a>
	
	    <button id="bouton_menu_gauche" class="navbar-toggler"  type="button" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
		
	</div>
	    
	    <div class="w-100 d-block d-sm-none order-3 order-sm-2"></div>
   		<form class="order-4 order-sm-3" action="#">
			<div class="input-group">
			  <input type="text" class="form-control" aria-label="Text input with dropdown button">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icomoon icomoon-search"></span></button>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">dans l'annuaire</a>
			      <a class="dropdown-item" href="#">dans le matériel</a>
			    </div>
			  </div>
			</div>   
						
			<!-- <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Rechercher">
			<button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">OK</button> -->
		</form> 
		
	    <button id="bouton_menu_droit" class="navbar-toggler order-2 order-sm-3" type="button" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
		
</nav>




<div class="container-fluid bg-">
	<div class="row">
		
	  	
  		<nav class="navbar bg-dark navbar-dark d-block" id="navbarleft">
			<div class="navbar-collapse">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul> 
			</div>
		</nav>
		
  

    
		<!-- <main class="col-sm col-lg"> -->
		<main class="">
			<%= yield %>
		</main>
		
		
	  	
  		<nav class="navbar bg-dark navbar-dark d-block" id="navbarright">
			<div class="navbar-collapse">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul> 
			</div>
		</nav>
			
   
  </div>
</div>
	



</body>
</html>
